<template>
  <div>
    <h2 align="center">A la découvert de MS-Framework</h2>
    <ul>
      <ol>
        <a href="http://tutoriel.ms-framework.site/" target="_blank"
          >MS-Framework PHP</a
        >
      </ol>
      <ol>
        <a href="http://nuxt-tuto.ms-framework.site/" target="_blank"
          >MS-Framework NuxtDako</a
        >
      </ol>
    </ul>
    <h3 class="d-none">Plan de formation</h3>

    <table class="table table-light d-none">
      <thead class="thead-light">
        <tr>
          <th>Module</th>
          <th>Durée</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <nuxt-link to="/">Découverte</nuxt-link>
          </td>
          <td>5 minutes</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import Logo from "~/components/Logo.vue";

export default {
  components: {},
};
</script>
